
form .form-control:focus{
    box-shadow: none;
 }
.fa-star{
    color: rgb(66, 194, 233);
    font-size: 16px;
    margin-left: 4px;
}
#bb{
    width: 100%;
    outline: none;
    border: none;
    font-weight: 600;
    padding: 10px;
}
.sp{
margin-top: 60px;
}
#select{
    width: 58px;
    height: 25px;
    padding-right: 5px;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    /* background-color: aliceblue; */
    box-shadow: rgba(222, 91, 91, 0.1) 0px 0px 5px 0px, rgba(187, 108, 108, 0.1) 0px 0px 1px 0px;
    margin-top: 10px;
    border: none;
    outline: 1px solid gray;
    
}
#select:focus{
    outline: none;
    outline: 2px solid rgb(42, 42, 209);
}
.na{
    color: gray;
}
.qq{
    color: gray;
    font-size: 14px;
}

.last{
    padding: 19px;
    background-color: rgb(64, 64, 64);
    margin-top: 70px;
}
.set{
  padding: 20px; 
  height: 160px;
  /* margin-top: 8px; */
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px;  
 

}
.end{
    color: white;
    margin-left: 16px;
    margin-top: 5px;
}
#checkout{
    width: 100%;
    margin-top: 10px;
    background-color: rgb(83, 83, 231);
    color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
font-size: 16px;
padding: 15px;
border-radius: 8px;
border: none;
outline: none;
}
#subtotal,#tax,#Ordertotal{
font-weight: 600;
color: rgb(54, 53, 53);
}
hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }             


.subtotal{
    color: gray;
    font-size: 15px;
    font-weight: 500;
}
.total{
    font-size: 16px;
    font-weight: 500;
}
.taxt{
    color: gray;
    font-size: 15px;
    font-weight: 500;
}
.main{
    align-items: center;
    margin-top: 100px;
    padding: 29px;
    background-color: rgb(247, 247, 250);
    border-radius: 10px;
}
.sum{
    margin-top: 7px;
    font-size: 20px;
}
.sub{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.or{
display: flex;
justify-content: space-between;
margin-top: 20px;}
.ta{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card{
    border: none;
    outline: none;
    margin-top: 30px;
}
#card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    justify-content: space-between;
    align-items: center;

}
.my{


    width: 150px;
        height: 170px;
        /* overflow: hidden; */
        /* border-radius: 10px 10px 10px 10px; */
        align-items: center;
    /* background-color: black; */
    /* width: 300px;
    height: 230px;
    overflow: hidden;
    border-radius: 10px 0px 0px 10px;
    align-items: center; */
   
}
.ga{
    margin-top: 60px;
}
#inp{
    margin-top: 45px;
    width: 63px;
    height: 28px;
    border-radius: 8px;
    outline: none;
    text-align: center;
    border: none;
    border:  1px solid gray;
}
.shoping{
    font-weight: 600;
    text-align: center;
}
.m{
    width: 150px;
        height: 160px;
        margin-top: 8px; 
        border-top-left-radius: 10px; 
        border-bottom-left-radius: 10px; 
        border-top-right-radius: 10px; 
        border-bottom-left-radius: 10px; 


        /* width: 180px;
    margin-top: 65px;
    border-radius: 10px; */
   }
.n{
  width: 40px;
} 
form  i{
     margin-top: 10px;
     margin: 10px;
     font-size: 22px;
 }
 form button{
     border: 0;
     outline: 0;
     border-radius: 10px;
 }
 .container h2{
    font-size: 32px;
    font-weight: bold;
 }
 .container a{
     font-size: 15px;
     font-weight: bold;
 }
 
 .container .one{
     background-color:black;
     padding: 6px;
     border-radius: 8px;
 }
 .container .two{
     padding: 6px;
     border-radius: 8px;
 }

 #login{
    height: 35px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    width: 70px;
    
 }

 .l{
    text-decoration: none;
    color: rgb(7, 6, 6);
    font-size: 22px;

 }

 /* @media only screen and (max-width: 767px) and (min-width: 250px)  {
    .set{
        margin-left: 50px;    
    align-items: center;
    text-align: center;
    }
 } */


 /* @media only screen and (max-width: 991px) and (min-width: 250px)  {

.hee{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

 } */