form .form-control:focus{
    box-shadow: none;
 }
 
.fa-star{
    color: rgb(66, 194, 233);
    font-size: 16px;
    margin-left: 4px;
}
#bb{
    width: 100%;
    outline: none;
    border: none;
    font-weight: 600;
    padding: 10px;
}
.na{
    color: gray;
}
.last{
    padding: 19px;
    background-color: rgb(64, 64, 64);
    margin-top: 70px;
}
.end{
    color: white;
    margin-left: 16px;
    margin-top: 5px;
}

.card{
    border: none;
    outline: none;
    margin-top: 30px;
}


.card:hover{
    border: none;
    outline: none;
    margin-top: 30px;
    filter: contrast(0.8);
    cursor: pointer;
}
#card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    justify-content: space-around;
    align-items: center;

}
.n{
  width: 40px;
} 
form  i{
     margin-top: 10px;
     margin: 10px;
     font-size: 22px;
 }
 form button{
     border: 0;
     outline: 0;
     border-radius: 10px;
 }
 .container h2{
    font-size: 32px;
    font-weight: bold;
 }
 .container a{
     font-size: 15px;
     font-weight: bold;
 }
 
 .container .one{
     background-color:black;
     padding: 6px;
     border-radius: 8px;
 }
 .container .two{
     padding: 6px;
     border-radius: 8px;
 }

 #login{
    height: 35px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    width: 70px;
    
 }

 .l{
    text-decoration: none;
    color: rgb(7, 6, 6);
    font-size: 22px;

 }
 /* navabr end */
 
 
 
 /* phela start */
 .fluid{
     background-color: black;
 }
 .phela{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     /* height: 100vh; */
     /* background-color: aqua; */
 }
 .phela .col-lg-6{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 .phela .col-lg-6 h1{
     font-size: 40px;
     font-weight: bold;
     color: white;
 }
 .phela .col-lg-6 p{
     font-size: 25px;
     font-weight: bold;
 }
 .phela .col-lg-6 #shop-now{
     font-size: 19px;
     font-weight: bold;
     width: 170px;
     background-color: purple;
     border: 0;
     outline: 0;
     border-radius: 7px;
     height: 50px;
    color: white;
 }


 /* phela end */
 
 /*  <!-- category start --> */
 .container .row .img-h1{
     font-size: 25px;
     font-weight: bold;
     margin-top: 30px;
     margin-bottom: 30px;
 }
 
 .container .row .img{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
 }
 .container .row .img img{
  width: 250px;
  height: 300px;   
 }
 
 .container .row .img .oneimg{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: end;
     background-image: url('https://next-shop-gilt.vercel.app/_next/image?url=https%3A%2F%2Fxcdn.next.co.uk%2Fcommon%2Fitems%2Fdefault%2Fdefault%2Fpublications%2Fg76%2Fshotzoom%2F3656%2Fd97-855s.jpg%3Fim%3DResize%2Cwidth%3D364&w=640&q=75');
     background-position: center;
     background-size: cover;
     width: 250px;
     height: 300px;
     cursor: pointer;
     margin-bottom: 10%;
     border-radius: 8px;
 }
 .container  .row .img .oneimg h1{
     font-size: 30px;
     font-weight: bold;
     color: white;
 }
 
 
 .container .row .img .secondimg{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: end;
     background-image: url('https://next-shop-gilt.vercel.app/_next/image?url=https%3A%2F%2Fxcdn.next.co.uk%2Fcommon%2Fitems%2Fdefault%2Fdefault%2Fpublications%2Fg26%2Fshotzoom%2F4003%2F591-248s.jpg%3Fim%3DResize%2Cwidth%3D364&w=640&q=75');
     background-position: center;
     background-size: cover;
     width: 250px;
     height: 300px;
     cursor: pointer;
     margin-bottom: 10%;
     border-radius: 8px;
 }
 .container  .row .img .secondimg h1{
     font-size: 30px;
     font-weight: bold;
     color: black;
 }
 
 
 .container .row .img .thirdimg{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: end;
     background-image: url('https://next-shop-gilt.vercel.app/_next/image?url=https%3A%2F%2Fxcdn.next.co.uk%2Fcommon%2Fitems%2Fdefault%2Fdefault%2Fpublications%2Fg22%2Fshotzoom%2F743%2F157-063s.jpg%3Fim%3DResize%2Cwidth%3D364&w=640&q=75');
     background-position: center;
     background-size: cover;
     width: 250px;
     height: 300px;
     cursor: pointer;
     margin-bottom: 10%;
     border-radius: 8px;
 }
 .container  .row .img .thirdimg h1{
     font-size: 30px;
     font-weight: bold;
     color: white;
 }
 
 .container .row .img .fourthimg{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: end;
     background-image: url('https://next-shop-gilt.vercel.app/_next/image?url=https%3A%2F%2Fxcdn.next.co.uk%2Fcommon%2Fitems%2Fdefault%2Fdefault%2Fpublications%2Fg76%2Fshotzoom%2F2008%2Fu41-261s.jpg%3Fim%3DResize%2Cwidth%3D364&w=640&q=75');
     background-position: center;
     background-size: cover;
     width: 250px;
     height: 300px;
     cursor: pointer;
     margin-bottom: 10%;
     border-radius: 8px;
 }
 .container  .row .img .fourthimg h1{
     font-size: 30px;
     font-weight: bold;
     color: white;
 }
 
 .container .row .oneimg:hover{
    filter: contrast(0.5);
 }
 .container .row .secondimg:hover{
     filter: contrast(0.5);
  }
  .container .row .thirdimg:hover{
     filter: contrast(0.5);
  }
  .container .row .fourthimg:hover{
     filter: contrast(0.5);
  }


.rose{
   
    padding-bottom: 14px;
}

.samny{
    display: flex;
}
 .one1{
    width: 160px;
    height: 200px;
        border-radius: 10px;
 }
 
 .one2{
    width: 160px;
    height: 200px;
        border-radius: 10px;
     margin-left: 25px;
    margin-top: 10px; 
 }
 
 .one3{
    width: 160px;
    height: 200px;
    border-radius: 10px;
 }
 
 .one4{
    width: 160px;
    height: 200px;
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 10px; 
 }

  /* @media only screen and (max-width: 991px) and (min-width: 250px)  {

    .hee{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
     } */
 
 /*  <!-- category end --> */
 
 