
.m{
    width: 150px;
        height: 140px;
        margin-top: 8px; 
        border-top-left-radius: 10px; 
        border-bottom-left-radius: 10px; 
        border-top-right-radius: 10px; 
        border-bottom-left-radius: 10px; 


        
   }


   .my{

    width: 250px;
        height: 252px;
        /* background-color: aqua; */
        align-items: center;
   
   
}


form .form-control:focus{
    box-shadow: none;
 }
 
.fa-star{
    color: rgb(66, 194, 233);
    font-size: 16px;
    margin-left: 4px;
}
#bb{
    width: 100%;
    outline: none;
    border: none;
    font-weight: 600;
    padding: 10px;
}

.na{
    color: gray;
}
.last{
    padding: 19px;
    background-color: rgb(64, 64, 64);
    margin-top: 70px;
}
.end{
    color: white;
    margin-left: 16px;
    margin-top: 5px;
}

.card{
    border: none;
    outline: none;
    margin-top: 30px;
}
#card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    justify-content: space-between;
    align-items: center;

}
.n{
  width: 40px;
} 
form  i{
     margin-top: 10px;
     margin: 10px;
     font-size: 22px;
 }
 form button{
     border: 0;
     outline: 0;
     border-radius: 10px;
 }
 .container h2{
    font-size: 32px;
    font-weight: bold;
 }
 .container a{
     font-size: 15px;
     font-weight: bold;
 }
 
 .container .one{
     background-color:black;
     padding: 6px;
     border-radius: 8px;
 }
 .container .two{
     padding: 6px;
     border-radius: 8px;
 }

 #login{
    height: 35px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    width: 70px;
    
 }

 .l{
    text-decoration: none;
    color: rgb(7, 6, 6);
    font-size: 22px;

 }

.s{
    font-size: 25px;
    font-weight: 600;
    margin-top: 22px;
}
.ad{
    margin-top: 10px;
}
.Street{
    font-size: 14px;
    color: rgb(77, 76, 76);
    font-weight: 600;
    margin-top: 9px;
}

.fname{
    font-size: 14px;
    color: rgb(77, 76, 76);
    font-weight: 600;
}
#Firstname{
 margin-top: 4px;
 box-shadow: rgba(240, 240, 245, 0.1) 0px 8px 24px, rgba(229, 229, 233, 0.1) 0px 16px 56px, rgba(207, 207, 214, 0.1) 0px 24px 80px;
 height: 35px;
 width: 100%;
 border-radius: 4px;
 border: none;
 outline: none;
 border: 1px solid gray;
 
}


#address{
margin-top: 4px;
box-shadow: rgba(240, 240, 245, 0.1) 0px 8px 24px, rgba(229, 229, 233, 0.1) 0px 16px 56px, rgba(207, 207, 214, 0.1) 0px 24px 80px;
height: 35px;
width: 100%;
border-radius: 4px;
border: none;
outline: none;
border: 1px solid gray;
}

.pl{
    display: flex;
    justify-content: flex-end;
}
#bt{
    margin-top: 28px;
    color: white;
    background-color: rgb(83, 83, 231);
    font-weight: 700;
    outline: none;
    border: none;
    width: 86px;
    padding: 5px;
    font-size: 14px;
    height: 36px;
    border-radius: 5px;
}
.all{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.oone{
    font-size: 14px;
    color: rgb(77, 76, 76);
    font-weight: 600;
}
.two{
    font-size: 14px;
    color: rgb(77, 76, 76);
    font-weight: 600;
}
.three{
    font-size: 14px;
    color: rgb(77, 76, 76);
    font-weight: 600;
}

#city{
    margin-top: 4px;
    box-shadow: rgba(240, 240, 245, 0.1) 0px 8px 24px, rgba(229, 229, 233, 0.1) 0px 16px 56px, rgba(207, 207, 214, 0.1) 0px 24px 80px;
    height: 35px;
    width: 165px;
    border-radius: 4px;
    border: none;
    outline: none;
    border: 1px solid gray;
}


#state{
    box-shadow: rgba(240, 240, 245, 0.1) 0px 8px 24px, rgba(229, 229, 233, 0.1) 0px 16px 56px, rgba(207, 207, 214, 0.1) 0px 24px 80px;
    height: 35px;
    width: 165px;
    border-radius: 4px;
    border: none;
    outline: none;
    border: 1px solid gray;
}

.do{
    margin-top: 5px;
}

#zip{

    margin-top: 4px;
    box-shadow: rgba(240, 240, 245, 0.1) 0px 8px 24px, rgba(229, 229, 233, 0.1) 0px 16px 56px, rgba(207, 207, 214, 0.1) 0px 24px 80px;
    height: 35px;
    width: 165px;
    border-radius: 4px;
    border: none;
    outline: none;
    border: 1px solid gray;
}

.o{
    font-weight: 500;
    color: rgb(14, 14, 14);
    font-size: 19px;
}

.dosra{
    /* width: 340px; */
    padding: 20px;
    /* background-color: blue; */
}
/* #picture2{
} */
.picture2{
    width: 190px;
    height: 180px;
    overflow: hidden;
    align-items: center;
    /* background-color: brown; */

}
.saa{
    border-radius: 5px;
}
#picture2{
    width: 190px;
    height: 240px;
    overflow: hidden;
    border-top-left-radius: 10px;  
}
.title{
    display: flex;

}
.kam{
    margin-top: 9px;
    padding: 15px;
    background-color: rgb(247, 247, 250);
    border-top-right-radius: 10px;

    
}
.qu{
    margin-top: 10px;
    color: gray;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: 600;
}

.subtotal{
    color: gray;
    font-size: 15px;
    font-weight: 500;
}
.total{
    font-size: 16px;
    font-weight: 500;
}
.taxt{
    color: gray;
    font-size: 15px;
    font-weight: 500;
}

.main{
    /* align-items: center; */
    /* width: 460px; */
    background-color: bisque;
    padding: 20px;
    background-color: rgb(247, 247, 250);
    border-bottom-right-radius: 10px;   
    border-bottom-left-radius: 10px;  
}

.sub,.ta,.or{
    display: flex;
     justify-content: space-between;
     margin-top: 30px;
}

#subtotal,#tax,#Ordertotal{
    font-weight: 600;
    color: rgb(54, 53, 53);
    }

    

    hr {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      } 

      @media only screen and (max-width: 540px) and (min-width: 250px)  {
       .all{
        display: flex;
       flex-wrap: wrap;        
       }
     }


     @media only screen and (max-width: 389px) and (min-width: 250px)  {
        
        .my{

            width: 200px;
                height: 180px;
                align-items: center;
           
           
        }
    
    
        
      
      }

 

      @media only screen and (max-width: 991px) and (min-width: 768px)  {
        
        .my{
                width: 200px;
           
        }
    
       .main{
        width: 587px;
       }
        
      
      }


      @media only screen and (max-width: 388px) and (min-width: 359px)  {
        
   #picture2{
    width: auto;
   }
        
    }


/* 
     @media only screen and (max-width: 1199px) and (min-width: 992px)  {
      
    .main{
        width: 416px;
    background-color: bisque;
    padding: 20px;
    background-color: rgb(247, 247, 250);
    border-bottom-right-radius: 10px;   
    border-bottom-left-radius: 10px;
    }

      }

      @media only screen and (max-width: 524px) and (min-width: 520px)  {
      
        .main{
            width: 460px;
        background-color: bisque;
        padding: 20px;
        background-color: rgb(247, 247, 250);
        border-bottom-right-radius: 10px;   
        border-bottom-left-radius: 10px;
        }
    
          }
  */
      