form .form-control:focus{
    box-shadow: none;
 }
.aaa{
    width: 320px;
    background-color: rgb(52, 52, 245);
    color: white;
    font-weight: 600;
padding-left: 25px;
padding-right: 25px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 10px;
outline: none;
border: none;
}
.n{
  width: 40px;
} 
form  i{
     margin-top: 10px;
     margin: 10px;
     font-size: 22px;
 }
 form button{
     border: 0;
     outline: 0;
     border-radius: 10px;
 }
 .container h2{
    font-size: 32px;
    font-weight: bold;
 }
 .container a{
     font-size: 15px;
     font-weight: bold;
 }
 
 .container .one{
     background-color:black;
     padding: 6px;
     border-radius: 8px;
 }
 .container .two{
     padding: 6px;
     border-radius: 8px;
 }

 #login{
    height: 35px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    width: 70px;
    
 }

 .l{
    text-decoration: none;
    color: rgb(7, 6, 6);
    font-size: 22px;

 }
 .last{
    padding: 19px;
    background-color: rgb(64, 64, 64);
    margin-top: 70px;
}
.end{
    color: white;
    margin-left: 16px;
    margin-top: 5px;
}
.q{
    text-decoration: none;
}
.ss{
    color: gray;
}
.one{
    /* display: flex; */
    flex-wrap: wrap;
}

.im{
    height: 550px;
    overflow: hidden;
}


#picture{
width: 530px;
}

/* .second{
    width: 590px;
} */


@media only screen and (max-width: 540px) and (min-width: 250px)  {
   #picture{
    width: 400px;
    align-items: center;
   }
  } 

  @media only screen and (max-width: 540px) and (min-width: 455px)  {
    #picture{
     width: 400px; 
     margin-left: 40px;
    }
   } 